@(matrix : List[List[String]])

@header = {

}

@footer = {

}

@main("step1", "step2", header, footer) {

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                @for(feature <- matrix.head) {
                    <th>
                        @feature
                        <form class="form"> <!-- form-inline -->
                            <select class="form-control">
                                <option>Feature</option>
                                <option>Attribute</option>
                            </select>
                            <input type="text" class="form-control" placeholder="Null value">
                        </form>
                    </th>

                }
            </tr>
        </thead>

        <tbody>
            @for((product, index) <- matrix.tail.zipWithIndex) {
                <tr>
                    <th scope="row">@index</th>
                    @for(cell <- product) {
                        <td>@cell</td>
                    }
                </tr>
            }

        </tbody>
    </table>



}
