@header = {

}

@footer = {

}

@main("step1", "step2", header, footer) {

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>
                    F1
                        <form class="form"> <!-- form-inline -->
                            <select class="form-control">
                                <option>Feature</option>
                                <option>Attribute</option>
                            </select>
                            <input type="text" class="form-control" placeholder="Null value">
                        </form>
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>V1</td>
            </tr>
        </tbody>
    </table>



}
