@(matrix : List[List[String]])

@header = {

}

@footer = {
    <script type='text/javascript' src='@routes.Assets.at("javascripts/double-scroll.js")'></script>
    <script>
        $('.double-scroll').doubleScroll();
    </script>
}

@main("step1", "step2", header, footer) {

    <div class="scrollable double-scroll">
        <table class="table table-bordered table-condensed" id="configuration_matrix">
            <thead>
                <tr>
                    <th>#</th>
                    @for(feature <- matrix.head) {
                        <th>
                            @feature
                        <form class="form"> <!-- form-inline -->
                            <select class="form-control">
                                <option>Feature</option>
                                <option>Attribute</option>
                            </select>
                            <input type="text" class="form-control" placeholder="Null value">
                        </form>
                        </th>

                    }
                </tr>
            </thead>

            <tbody>
            @for((product, index) <- matrix.tail.zipWithIndex) {
                <tr>
                    <th scope="row">@index</th>
                    @for(cell <- product) {
                        <td>@cell</td>
                    }
                </tr>
            }

            </tbody>
        </table>

    </div>
}
